{% extends "base.html" %}

{% block content %}

	{{ debug }}

	<div class = " col s12 m12 l12 xl12 " >
	
		<div class = "col s12 m12 l12 xl12 ">

			<div class = "card">

				<div class = "card-content">

					<span class = "card-title "> {{ thread.series_thread_name }} </span>

					<p>
						
						{{ thread.series_thread_desc }}

					</p>
				
				</div>

			</div>

			{% for file in files %}

				{% if file.series_file_reply is None %}

					<div class="chip">

						{{ file.series_file_file }}

						<a href = "/series/file/{{ file.series_file_slug }}" style = " color : #616161; " >

							<i class = "download_chip material-icons">file_download</i>

						</a>

					</div>
				
				{% endif %}

			{% endfor %}

			<div class = "divider"></div>

			<h4 class = "title" > Add a comment </h4>

			<div class = "col s12 m12 l12 xl12">
				
				<form method = "post" enctype = "multipart/form-data">
					
					{{ comment_form }}
					{% csrf_token %}

					<button class = "btn"> Add comment </button>

				</form>

			</div>

			<div class = "col s12 m12 l12 xl12 " >
				
				<h4> Comments </h4>

				{% for comment in comments %}

					<div class="card">

						<div class = "card-stacked" >

							<div class = "card-content" >
								
									<p> 
										
										<div  class="truncate" >

											{{ comment.series_reply_desc }}

										</div>

									</p>

									<br><br>

									{% for file in files %}

										{% if file.series_file_reply.id is comment.id %}

											<div class="chip">

												{{ file.series_file_file }}

												<a href = "/series/file/{{ file.series_file_slug }}" style = " color : #616161; " >

													<i class = "download_chip material-icons">file_download</i>

												</a>

											</div>
										
										{% endif %}

									{% endfor %}

							</div>

							<div class="card-action">

								<p> By {{ comment.series_reply_author }} </p>

							</div>

						</div>

					</div>

				{% endfor %}

			</div>


		</div>
		

	</div>

{% endblock content %}