{% extends "base.html" %}

{% block content %}

	{{ debug }}

	<div class = " col s12 m12 l12 xl12 " >

		<h3> Plan de studiu {{ course.course_name }} </h3>

		<div class = "row">

			<span> {{ course.course_desc }} </span>

		</div>

		<div class = "row">
			
			<a href = "/my_courses/course_guide/{{ course.course_slug }}" target = "_blank" > 
			
				<span> <i class="material-icons"> picture_as_pdf </i>  Ghidul Cursului </span>

			</a>

		</div>

		<div class = "row">
			
			<a href = "/forum/{{ forum.slug }}" >

				<span> <i class="material-icons">forum</i> Forum </span>

			</a>
			
		</div>

		<div class = "row">
			
			<a href = "/my_courses/course_resources/{{ course.course_slug }}" >

				<span> <i class="material-icons">folder</i> Resurse curs  </span>

			</a>
			
		</div>


		<div class = "row">
			
			<a href = "/my_courses/course_resources_activities/{{ course.course_slug }}" >

				<span> <i class="material-icons">folder</i> Resurse activitati  </span>

			</a>
			
		</div>

		<div>

			<!-- Go for each week -->

			<ul class="collapsible" data-collapsible="accordion">

				{% for current_week in weeks %}

				<li>
				
					<div class = "collapsible-header" >

						<i class="material-icons">view_week</i> 
						{{ current_week }}

					</div>
					
					<div class = "collapsible-body" >

						{%	for book in books %}

							{% if book.book_week.id is current_week.id %}

								<p class="flow-text" >

									<a href = "/my_courses/book/{{ course.course_slug }}/{{ current_week.week_slug }}/{{ book.book_slug }}"> {{ book.book_name }} </a>

								</p>

							{% endif %}

						{% endfor %}

					</div>

				</li>

				{% endfor %}

			</ul>

		</div>

	</div>

{% endblock content %}