{% extends "base.html" %}

{% load bootstrap3 %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load staticfiles %}

{% block content %}
	
	{{ debug }}
	
	<div class = "container-fluid">

		{% for course in courses_list %}

			<div class = "col s12 m12 l12 xl12" >
				
				<div class="card">

					<div class = "card-stacked" >

						<div class = "card-content" >
							
								<span class = "card-title" title = "{{ course.0.course_name }}" > 
									
									<div  class="truncate" >

										{{ course.0.course_name }}

									</div>

								</span>

						</div>

						<div class="card-action">

							<a href="course/{{ course.0.course_slug }}"> Go to the course </a>

						</div>

					</div>

				</div>

			</div>

		{% endfor %}
		
	</div>
		
{% endblock content %}