{% extends "base.html" %}

{% block content %}

	{{ debug }}

	<div class = " col s12 m12 l12 xl12 " >

		<nav class = "hide-on-small-only" style = "background-color : #00695c " >

			<div class="nav-wrapper ">
				
				<div class="col s12">
				
					<a href="/my_courses/course/{{ course.course_slug }}" class="breadcrumb"> {{ course }} </a>
					<a href="/my_courses/{{ link }}/{{ course.course_slug }}" class="breadcrumb"> {{ type }} </a>
				
				</div>
			
			</div>
		
		</nav>		

		{% for resource in resources %}

			<p> <a href = "/resources/resource/{{ resource.slug }}" > {{ resource.name }} </a></p>

		{% endfor %}

	</div>

{% endblock content %}