{% extends "base.html" %}

{% block content %}


	<div class = " col s12 m12 l12 xl12 " >

		<nav class = "hide-on-small-only" style = "background-color : #00695c " >

			<div class="nav-wrapper ">
				
				<div class="col s12">
				
					<a href="/my_courses/course/{{ course.course_slug }}" class="breadcrumb"> {{ course }} </a>
					<a href="/my_courses/week/{{ course.course_slug }}/{{ week.week_slug }}" class="breadcrumb"> {{ week.week_name }} </a>
				
				</div>
			
			</div>
		
		</nav>		
		
		{% for book in books %}

			<p class="flow-text" >

				<a href = "/my_courses/book/{{ course.course_slug }}/{{ week.week_slug }}/{{ book.book_slug }}"> {{ book.book_name }} </a>

			</p>

		{% endfor %}

	</div>

{% endblock content %}